@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: IRANYekan;
    src: url("../src/assets/fonts/Rubik-Medium.ttf") format('truetype');
    font-weight: normal;
  }